@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--tetriary: #d9d9d9;
	--foreground: #171717;
	--primary: #ffffff;
	--footerColor: #040a2d;
	--base: #f3f3f3;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	color: var(--base);
	background: var(--primary);
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

@media (max-width: 768px) {
	.imageResponsif {
		background-position: center;
		background-size: contain;
		background-image: linear-gradient(to top, #e15701cc, #ee9f6e74), url('/home-image.jpg');
	}
	.pendidikan {
		background-size: contain;
		background-image: url('/kementrian/pendidikan.jpg');
		background-position-y: 60px;
	}
	.riset {
		background-size: contain;
		background-image: url('/kementrian/riset.jpg');
		background-position-y: 70px;
	}
	.sosial {
		background-size: contain;
		background-image: url('/kementrian/sosial.jpg');
		background-position-y: 70px;
	}

	.media {
		background-size: contain;
		background-image: url('/kementrian/media.jpg');
		background-position-y: 70px;
	}

	.ekonomi {
		background-size: contain;
		background-image: url('/kementrian/ekonomi.jpg');
		background-position-y: 70px;
	}
}
@media (min-width: 768px) {
	.image {
		background-image: linear-gradient(to top, #e15701cc, #ee9f6e74), url('/home-image.jpg');
		background-position-y: 70px;
	}

	.pendidikan {
		background-image: url('/kementrian/pendidikan.jpg');
		background-position-x: -250px;
		background-position-y: 60px;
	}

	.riset {
		background-image: url('/kementrian/riset.jpg');
		background-position-x: -250px;
		background-position-y: 70px;
	}

	.sosial {
		background-image: url('/kementrian/sosial.jpg');
		background-position-x: -250px;
		background-position-y: 70px;
	}

	.media {
		background-image: url('/kementrian/media.jpg');
		background-position-x: -250px;
		background-position-y: 70px;
	}

	.ekonomi {
		background-image: url('/kementrian/ekonomi.jpg');
		background-position-x: -250px;
		background-position-y: 70px;
	}
}
.text-shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.edited-list {
	list-style-type: disc;
}
